<div class="container-fluid">
  <div class="row d-flex flex-column text-center">
      <h1 class="display-3 my-4 text-center">About</h1>
  </div>
  <div class="row d-flex flex-column text-center">
      <h4>ながのCAKEは全国発送可能なケーキ屋さんです。</h4>
      <h4>お子様からお年寄りの方までお召し上がりいただけるよう、</h4>
      <h4>様々なバリエーションをご用意しております。</h4>
      <h4>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</h4>
      <h4>是非ご注文ください。</h4>
  </div>
  <div class="row" style="height: 200px"></div>
</div>